
.par {
    color: #003300;
    text-decoration: underline;
    position: relative;
    bottom: 0px;
    left: 1360px;
    width: 260px;
    
}
h1 {
    color: #003300;
    position: relative;
    bottom: 0px;
    left: 1400px;
    border-style: none;
    width: 150px;
}
html {
    background-image: url("http://static.comicvine.com/uploads/original/11123/111233281/4672713-0539740383-dayz-.jpg");
    background-repeat: no-repeat;
    background: fit-content;
}